{% extends 'user_base.html' %}
{% load static %}

{% block content %}
<body>
<div class="card bg-light p-5">

  {% for message in messages %}

  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}

  
  <h3 class="text-dark">Reset Password</h3>

  <form action="forgetpassword" method="post">
    {% csrf_token %}
    <br />

    <label for="Username">Username</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control p-2"
        id="username"
        name="username"
        required
      />
    </div>
    <label for="newpassword">New Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2"
        id="newpassword"
        name="newpassword"
        required
      />
    </div>

    <label for="conpassword">Confirm Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2"
        id="conpassword"
        name="conpassword"
        required
      />
    </div>
   
    <br />
    <button type="submit" class="btn btn-dark">Reset password</button>
    <br>
    <br />
    New User? <a href="register">Signup</a>
    <br />
    Already a User? <a href="login">Login</a>
    <br />
  </form>
</div>
{% endblock %}

